.post {
  margin: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: rgb(134, 134, 134);
  padding: 2em;
  flex-wrap: wrap;
  min-width: 400px;
  border-radius: 2px;
  transition: border-radius 100ms, background-color 100ms;
}

.post:hover{
  background-color: white;
  border-radius: 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  width: 100%;
  margin-bottom: 0px;
}

.date {
  width: 100%;
  margin-bottom: 0px;
  justify-content: end;
  font-weight: 600;
}

.voltekst {
  font-family: Arial, Helvetica, sans-serif;
}




/* uit portfolio website */
.flexbox-multi-item {
  /*   margin-top: 100px; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20em;
}

.text,
#current-time,
#current-date {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: smaller;
  color: white;
  flex-direction: row;
}

#current-time,
#current-date {
  width: 70px;
  justify-content: end;
}